<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css" />
    <title>Axon Lite</title>
    <!-- <script src="../js/jquery-3.2.1.min.js"></script> -->
    <script src="../js/axonPopup.js"></script>
  </head>

  <body>
	<center>
    <h3>Axon Lite settings</h3>
	<div class="ui buttons">
	  <button id="testNetBtn" class="ui button">Test Net</button>
	  <div class="or"></div>
	  <button id="publicNetBtn" class="ui button">Public Net</button>
	</div>
	</center>
	<br/>
	<button id='closeBtn' class="ui button" >CLOSE</button>
  </body>
</html>
